body{
	background-image:url(images/tumblr_n6eszmeQMR1st5lhmo1_1280.jpg);
	background-size:cover;
	font-family:Raleway,Open Sans,Droid Sans,arial,sans-serif;
	*/color:white;*/
}

.bio{
	width:600px;
	height:450px;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:auto;
	color:white;
	text-align:center;
}

.paragraph{
	width:600px;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:auto;
	text-align:center;
	color:white;
	background-color: rgba(0,0,0,0.3);
}

h1,h2{
	font-weight:100;
}
h2{
	font-size:15px;
}

.social-links{margin-top:50px;}
a{
	color:white;
	text-decoration:none;
}
a:hover{text-decoration:underline}
.fa{margin:0 10px;}